@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.btn-my-green{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #F1F2EB;
    background-color: #005332;
    border-color: #005332;
    margin: 10px 10px;
    border-radius: 7px;
}

/* ********************************************************* HEADER - Navbar */

.nav-container{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    color: #F1F2EB;
    position: fixed;
    background-color: #005332!important;
    z-index: 1200;
}

/* Override Bootstrap color to pass contrast ratio */
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255 255 255 / 64%);
}

/*  SECTION ONE - Carousel */

.hero-carousel{
    height: 100vh;
    width: 100%;
    background-color: #f9fd72c9;
}

.carousel, .item, .active{  /* This codepen code snippet helped me understand which Bootstrap classes I needed to override: https://codepen.io/kchez/pen/YwedPb */
height:100%;
}

.carousel-inner{  /* This codepen code snippet helped me understand which Bootstrap classes I needed to override: https://codepen.io/kchez/pen/YwedPb */
height:100%;
}

.carousel .carousel-inner{  /* This codepen code snippet helped me understand which Bootstrap classes I needed to override: https://codepen.io/kchez/pen/YwedPb */
background-repeat:no-repeat;
background-size:cover;
background-size: cover;
background-position: center center;
}

.overlay--anchor {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 20px;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 12px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: inline-block;
    border-radius: 11px;
    background-color: rgba(52, 52, 52, 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #f1f2eb;
    text-align: center
}


/*  SECTION TWO <main> - Map View - Leaftlet JS */

.map-container{
    height: 100vh;
    width: 100%;
}

div.style {
    max-height: 100vh;
}

#map {
    height: 99.5vh;
    width: 100%;
}

/* Add margin to Leaflet zoom control container */
.leaflet-top, .leaflet-bottom {
    margin-top: 48px;
}

/* Add margin to Leaflet attribution */
.leaflet-container .leaflet-control-attribution, .leaflet-container .leaflet-control-scale {
    margin-bottom: 20px;
}

#menu{
    z-index: 1100;
    bottom: 10px;
    left: 190px;
}

.side-nav-menu{
    width: 35px;
    position: fixed;
    z-index: 1100;
    bottom: 20px;
    left: 20px;
    overflow-x: hidden;
}

.sidenav {
  height: 100vh;
  width: 65vw;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  background-color: #f9fd72c9;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 60px;
}

.h4{
    margin-top: 1em;
    margin-left: 0.5em;
    color: #00789f;
}

/* https://codersgyan.github.io/leaflet-store-locator/# */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(39, 45, 45, 0.5);
    border-radius: 12px;
}

/* https://codersgyan.github.io/leaflet-store-locator/# */
::-webkit-scrollbar-thumb {
    background: #00789f;
    border-radius: 12px;
}


/* https://www.w3schools.com/howto/howto_css_timeline.asp & https://stephenj2020.github.io/Resume/resume.html */
.location-item {
    padding: 2em 2em 0em 2em;
    margin-left: 1.5em;
    position: relative;
    color: #272D2D;
    border-left: 3px solid #00789f;
}

/* https://www.w3schools.com/howto/howto_css_timeline.asp & https://stephenj2020.github.io/Resume/resume.html */
.location-item::before {
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0px;
    margin: 0;
    -ms-scroll-limit-y-max: 100vh;
}

/* https://www.w3schools.com/howto/howto_css_timeline.asp & https://stephenj2020.github.io/Resume/resume.html */
.location-item::after {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -11px;
    background-color: #F1F2EB;
    border: 3px solid #00789f;
    border-radius: 10px;
    content: '';
}

a{ 
    text-decoration: none;
}

.toggle-hide{
    display: none;
    transition: 0.5s;
}

.toggle-show{
    display: block;
    transition: 0.5s;
}

.leaflet-popup-content-wrapper{
    max-width: 290px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #00533266;
    padding: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content{
    margin: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content p{
    margin: 17px;
    line-height: 16px;
    font-size: 14px;
}

.leaflet-popup-content h5{
    position: fixed;
    width: 100%;
    background-color: #005332;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 1rem;
    color: #f1f2ea;
    text-align: center;
}

.imgPadding{
    margin-top: 56px;
}


/*  SECTION THREE - Text View - be add in the next release of the site */

.text-container{
    height: 100vh;
    width: 100%;
}


/*  SECTION FOUR - Contact Form & Footer */

.contact-container{
    height: fit-content;
    width: 100%;
    background-color: #f9fd72c9;
}

/* Override Bootstrap padding and gutter */
.contact-container .row{
    padding-right: 0;
    padding-left: 0;
    --bs-gutter-x: 0;
    padding-left: var(--bs-gutter-x,0px);
}

/* Override Bootstrap padding and gutter */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-right: 0;
    padding-left: 0;
    --bs-gutter-x: 0;
    padding-left: var(--bs-gutter-x,0px);
}

#contact-image-container{
    height: 200px;
    width: 100vw;
    margin-top: 40px;
    margin-bottom: 50px;
    background-repeat:no-repeat;
    background-size:cover;
    background-size: cover;
    background-position: center center;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #272D2D;
    text-align: center;
}

#contact-form{
    max-width: 86%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 7%;
}

fieldset{   /* Sets Font-size, text colour and border colour and margin of Fieldset */
    border: 1px solid #272d2d;
    color: #272d2d;
    font-size: 1rem;
    margin: 20px 25px 20px 25px;
    padding: 20px 10px;
    background-color: #f1f2ea;
}

legend{   /* Ensures the border-top of legend is displayed correctly */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    float: none;
    width: auto;
    padding: 0;
} 

fieldset p{
    text-align: center;
}

form fieldset input{
    border: 1px solid #272d2d;
    border-radius: 3px;
}

form fieldset input:hover{   
    border: 2px solid #00789f;
}

.form-button{
    text-align: center;
    margin: 0 auto;
    padding-left: 0em;
}

footer{
    text-align: center;
    color: #F1F2EB;
    background-color: #272D2D;
    width: 100%;
    min-height: 200px;
}

footer ul{
    padding-left: 0;
}

footer img{
    border-radius: 4px;
}


/* MEDIA QUERIES */

@media (max-width: 991px){
    .sidenav{
        width: 65vw;
    }
}

@media (min-width: 992px){
    .sidenav{
        width: 33.5vw;
    }
    /* https://www.sitepoint.com/community/t/hide-and-show-div-on-page-load/2500 */
    .toggle-hide{
        display: block;
    }
    .overlay {
    padding: 16px;
    margin-left: 25vw;
    margin-right: 25vw;
    }
}

@media (min-width: 1400px){
    .sidenav{
        width: 25vw;
    }
}

@media (min-width: 431px){
    h5{ 
    margin-bottom: 0;
    color: #00789f;
    text-shadow: 0 0 #000000;
    /*min-inline-size: max-content;*/
    }
}