

* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/* ********************************************************* HEADER - Navbar */

.nav-container{
    color: #F1F2EB;
    position: fixed;
    background-color: #005332!important;
    z-index: 1200;
}


/* ********************************************************* SECTION ONE - Carousel */

.hero-carousel{
    height: 100vh;
    width: 100%;
    background-color: #B7990D;
}

.carousel, .item, .active{  /* This codepen code snippet helped me understand which Bootstrap classes I needed to override: https://codepen.io/kchez/pen/YwedPb */
height:100%;
}

.carousel-inner{  /* This codepen code snippet helped me understand which Bootstrap classes I needed to override: https://codepen.io/kchez/pen/YwedPb */
height:100%;
}

.carousel .carousel-inner{  /* This codepen code snippet helped me understand which Bootstrap classes I needed to override: https://codepen.io/kchez/pen/YwedPb */
background-repeat:no-repeat;
background-size:cover;
background-size: cover;
background-position: center center;
}


/* ********************************************************* SECTION TWO <main> - Map View - Leaftlet JS */

.map-container{
    height: 95vh;
    width: 100%;
    background-color: #F1F2EB;
    border: 4px solid red;
}

#map {
    height: 93.5vh;
    width: 100%;
    margin: 3px;
}

#menu{
    z-index: 1100;
    /* background-color: #005332; */
    width: fit-content;
    position: absolute;
    bottom: -580px;
    left: 10px;
}

.start h4{
    width: fit-content;
    position: relative;
    padding: 1em 1em 2em 1em;
    color: #272D2D;
}

.start h4::before {
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0px;
    margin: 0;
}

/*.start h4::after {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -11px;
    background-color: #F1F2EB;
    border: 3px solid #007EA7;
    border-radius: 10px;
    content: '';
}*/

.location-item {
    padding: 2em 2em 0em 2em;
    margin-left: 1.5em;
    position: relative;
    color: #272D2D;
    border-left: 3px solid #007EA7;
}

.location-item::before {
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 600;
    font-size: 0.8em;
    padding: 0px;
    margin: 0;
}

.location-item::after {
    width: 20px;
    height: 20px;
    /*display: block;*/
    position: absolute;
    top: 2.4em;
    left: -11px;
    background-color: #F1F2EB;
    border: 3px solid #007EA7;
    border-radius: 10px;
    content: '';
}

h5{
    margin-bottom: 0;
}

/* ********************************************************* SECTION THREE - Text View */

.text-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(142, 143, 137);
    border: 4px solid rgb(28, 51, 179);
}



/* ********************************************************* SECTION FOUR - Contact Form & Footer */

.contact-container{
    height: 100vh;
    width: 100%;
    background-color: rgb(219, 172, 231);
    border: 4px solid rgb(7, 212, 24);
}

#contact-image-container{
    height: 20vh;
    background-color: #B7990D;
    background-repeat:no-repeat;
    background-size:cover;
    background-size: cover;
    background-position: center center;
}

#contact-form{
    max-width: 72%;
    margin-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
}



/* ********************************************************* MEDIA QUERIES */

@media (max-width: 991px) {
    #locations {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1100;
        bottom: 0;
        left: 0;
        background-color: rgba(183, 153, 13, 0.9);
        overflow-x: hidden;
        overflow-y: scroll;
        padding-top: 60px;
        transition: 0.5s;
    }
}

@media (min-width: 992px) {
    #menu {
        display: none;
    }
}